[Unit]
Description=HA UPS MQTT Bridge
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
# sudo useradd --system --no-create-home --group nogroup ups or switch to your own user & group
User=ups
Group=ups
WorkingDirectory=/opt/ha-ups-mqtt
ExecStart=/usr/bin/python3 /opt/ha-ups-mqtt/ha-ups-mqtt.py
Restart=on-failure
RestartSec=5s

# Optional: log to syslog/journal with nice identification
StandardOutput=journal
StandardError=journal
SyslogIdentifier=ups-mqtt

[Install]
WantedBy=multi-user.target
